#nomreq{
position: absolute;
left: 400px;
top: 179px;
}

#tipreq{
position:absolute;
left: 670px;
top: 179px;
}

#pers{
position:absolute;
left: 950px;
top: 179px;
}

#est{

position:absolute;
left: 1250px;
top: 179px;
}

p{
margin: auto;
}

#cuadro{
position: absolute;
bottom: 460px;
left: 650px;
resize: none;
}

#btn1{
position: absolute;
left: 900px;
bottom: 300px;
}

#btn3{
position:absolute;
left: 1550px;
bottom: 850px;
}

#btn2{
position:absolute;
left: 200px;
bottom: 850px;
}

#titl{
margin-top: 10px;
margin-bottom: 20px;
margin: 100px;
}

#titl2{
text-align: center;
margin: 150px;

}