#nomreq{
position: absolute;
left: 850px;
top: 179px;
}

#tipreq{
position:absolute;
left: 820px;
top: 279px;
}

#pers{
position:absolute;
left: 850px;
top: 379px;
}

#numre{
position:absolute;
left: 850px;
top: 479px;
}

p{
color: white;
margin: auto;
text-align: center;
}

#cuadro{
position: absolute;
bottom: 220px;
left: 650px;
resize: none;
text-align: center;
}

#btn1{
position: absolute;
left: 900px;
bottom: 150px;
}

#btn3{
position:absolute;
left: 1550px;
bottom: 850px;
}

#btn2{
position:absolute;
left: 885px;
top: 880px;
}

#titl{
position: absolute;
color: white;
left: 665px;
top: 10px;
margin: 30px;
}

#titl2{
color: white;
text-align: center;
margin: 150px;
position: relative;
top: 430px;

}